body{

  background-color: #FCFFF7;

}
.nav-config ul li a{
  color: white;


}

#primary-nav {
  background-color: #473247;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}
.avisado-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;

}
.branding {
  color: white;
}

.full-width-image {
  height: 600px;
  background: url("../img/Background_19-01.jpg") no-repeat center center fixed;
  background-size: cover;
  width: auto;
}

.carousel-caption-modified {
    background: rgba(0, 0, 0, 0.35);
}

#main-photo {
  border-radius: 50%;
  margin: 0 auto;
  height: auto;
  width: auto;
  padding-top: 70px;
}

.about-me-section{
  background-color: #734855;
}


.about-me{
  margin-top: 5em;
  margin-bottom: 5em;
  padding-top: 1.5em;
  background-color: #FCFFF7;
  border: solid #734855 1pt;
}

.my-goals-section{

  background-color: #CA745E;
  padding: 0.5em;
}

.my-goals{
  padding-top: 1.5em;
}

.my-goals h1{
  margin-bottom: 2em;
  color: #FCFFF7;
}

.container-fluid #img-span:hover, .container-fluid #img-span:focus {
    color: #333;
    background-color: transparent;
}

.img-valign {
  vertical-align: middle;
  margin-bottom: 0.75em;
}

.rounded-icon{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
}

.list-logos {
    max-width: 992px;
    margin: 0 auto;
    width: 90%;
}

.col-list-logos {
    box-sizing: border-box;
    width: 33.33333333%;
    position: relative;
    float: left;
    padding-bottom: 20px;
    padding-right: 20px;
}

.col-left {
    padding-right: 70px;
}

.col-right {
    padding-left: 70px;
}

.col-middle {
    padding-left: 35px;
    padding-right: 35px;
}

.listas li a h5{
  color: white;

}
