@import url("./custom.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .card-border {
        @apply border-black border-8;
        border-radius: 40px;
    }
    .box-shadow {
        box-shadow: 14px 2px 21px 3px rgba(0,0,0,.41);
    }
    .box-shadow-left {
        box-shadow: 3px 2px 21px 14px rgba(0,0,0,.41);
    }
    .box-shadow-right {
        box-shadow: 14px 2px 21px 3px rgba(0,0,0,.41);
    }

    .transparent-card-lg {
        @apply lg:w-full lg:mt-5 lg:mx-auto lg:mb-auto lg:flex-col;
    }

    .over-left {
        margin-left: -5%;
    }

    .intro-transparent-card-dimensions-lg {
        @apply w-full h-full;
        top: 3.75%;
        left: 2%;
    }

    .h-60lvh {
        height: 60lvh;
        height: 60vh;
    }

    .right-position {
        @apply ml-auto mr-0;
    }
    .left-position {
        @apply mr-auto ml-0;
    }
    .centered-position {
        @apply mx-auto;
    }

}

@layer components {
    .card-dimensions {
        @apply w-11/12 md:w-2/3 lg:w-4/5;
    }

    .card {
        @apply flex card-border relative bg-white card-dimensions md:centered-position;
    }

    .transparent-overlay-card {
        @apply absolute bg-transparent w-full md:w-4/5 lg:w-2/3;
    }

    .new-transparent-card {
        @apply transparent-overlay-card xs:-left-6 box-shadow-left z-10 xs:h-60lvh md:intro-transparent-card-dimensions-lg md:-right-6 xs:max-md:top-2;
        border-radius: 40px;
    }

    .intro-transparent-card {
        @apply new-transparent-card;
    }

    .intro-card {
        @apply h-60lvh card content-center xs:max-sm:-top-5 xs:max-sm:-left-5 md:mx-auto md:mt-5 md:mb-0 2xl:w-3/5;
    }

    .bottom-right {
        top: 50px;
        right: -9px;
    }

    .mobile-overlay-card {
        @apply absolute bg-white w-full z-0; 
        height: 95%;
        border-radius: 40px;
    }

    #intro-overlay-card {
        @apply intro-transparent-card;
    }
}

.card-wrapper {
    @apply m-auto w-5/6;
}

.half-section {
    @apply flex-1;
}

.skills {
    @apply flex flex-row;
}

.skill {
    @apply mx-auto text-center;
}

.skill > img {
    @apply w-8 h-8 mx-auto;
}

#about-mobile {
    @apply grid grid-rows-2 grid-flow-col gap-8 mb-12 md:hidden;
    /* height: auto; */
}

#about-mobile > #about-right, #about-left {
    min-height: 50lvh;
}

.right-corner {
    @apply card flex flex-col -right-12 pl-8 pr-12 py-8 bg-transparent;
}
.inner-text {
    @apply z-10;
}

.left-corner {
    @apply card flex flex-col -top-5 -left-5 pl-12 pr-8 py-8 bg-transparent;
}
.shadow-right {
   @apply mobile-overlay-card bottom-2 -right-3; 
}

.shadow-left {
   @apply mobile-overlay-card bottom-2 -left-3; 
}

.half-section {
    @apply p-8;
}

#about-overlay-card {
    @apply absolute bg-white xs:max-sm:hidden h-full mx-auto z-0 w-4/5 box-shadow-right bg-white;
    right: 11%;
    top: 4%;
    border-radius: 40px;
}

#large-card {
    @apply bg-transparent;
}

#definition {
    @apply z-30;
    color: var(--primary-blue);
    font-weight: bolder;
    position: relative;
}