:root {
  --primary-blue: #0525a2;
  --xs: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;
  --etsy-linear-gradient: linear-gradient(to right, #f1641e, #f1641e 50%, black 50%);
  --yeeko-linear-gradient: linear-gradient(to right, #de006e, #de006e 50%, black 50%);
  --aiwifi-linear-gradient: linear-gradient(to right, #2bc474, #2bc474 50%, black 50%);
  --a3-linear-gradient: linear-gradient(to right, #6ec1e4, #6ec1e4 50%, black 50%);
  --kinedu-linear-gradient: linear-gradient(to right, #0086d8, #0086d8 50%, black 50%);
  --ipp-linear-gradient: linear-gradient(to right, #37b6c3, #37b6c3 50%, black 50%);
}

body {
  width: 100%;
  font-family: "Lato",sans-serif;
  margin: 0;
  background: url("../assets/bg/desktop.png");
  overflow-x: hidden;
}

a, span, p, input, textarea {
  font-size: 1rem;
  line-height: 1.5rem;
}

hr {
  width: 40%;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-top-color: #000;
}

h1,
h2,
h4,
button.btn,
a.btn {
  font-family: 'Bebas Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
}

h2.title {
  width: 90%;
  margin-left: auto
}

ul {
  list-style: none;
}

.btn {
  text-transform: uppercase;
  --bg-opacity: 1;
  background-color: #000;
  --text-opacity: 1;
  color: #fff;
  padding-left: .5rem;
  padding-right: .5rem;
  font-weight: 300;
  font-size: 1.5rem;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .5s;
  border-width: 1px;
  --border-opacity: 1;
  border-color: #000;
}

.btn-secondary {
  background-color: var(--primary-blue);
}

.btn[disabled] {
  --bg-opacity: 1;
  background-color: #718096;
  cursor: not-allowed;
  --border-opacity: 1;
  border-color: #718096;
}

.btn:not(.btn[disabled]):not(.btn[secondary]):hover {
  color: black;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid black 1px;
}

.card > div {
  display: flex;
  flex-direction: column;
}

section {
  position: relative;
  width: 100%;
}

.bg-white {
  background-color: #fff;
}

ul.dots-divider {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 1rem;
  padding-left: 0;
}

.section-divider {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.dot {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--primary-blue);
}

.transparent-card {
  position: absolute;
  background-color: transparent;
}

.show-on-large {
  display: block;
}

.show-on-small {
  display: none;
}

.footer {
  border-top: solid black 1pt;
  scroll-behavior: smooth;
  border-top-width: 4px;
  height: 3rem;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  --border-opacity: 1;
  border-color: #000;
  border-color: rgba(0, 0, 0, var(--border-opacity));
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

@media screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }

  .show-on-large {
    display: none;
  }

  .show-on-small {
    display: inline;
  }

  .footer {
    flex-direction: column;
    text-align: left;
    width: 90%;
  }
}

@media screen and (min-width: 1280px) {
  /* body {
    width: 80%;
    margin: 0 auto;
  } */

  div.transparent-card.over-left {
    margin-left: -20%;
  }
}

/* Intro */

#intro-section {
  height: 100lvh;
  margin-top: 10lvh;
}

h1#title {
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  font-size: 6rem;
}

#intro-card-text {
  text-align: center;
  position: relative;
}

#button-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto;
}

.dots {
  position: absolute;
  /* right: -8px;
  bottom: 35dvh; */
  z-index: 1;
}

#intro-section > .card > div {
  margin: auto;
}

#intro-section > div.transparent-card {
  width: 87%;
  /* z-index: 2; */
  /* height: 40%; */
  /* top: 0;
    left: 0; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 14px 2px 21px 3px rgba(0,0,0,.41);
}

@keyframes float {
  0% {
    transform: translateY(-5px) rotate(45deg);
    opacity: 0;
  }

  100% {
    transform: translateY(5px) rotate(45deg);
    opacity: 1;
  }
}

.arrow {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border-left-color: #000;
  border-top-color: #000;
  border-radius: 4px;
  border-right: 8px solid #000;
  border-bottom: 8px solid #000;
  height: 50px;
  width: 50px;
  left: 48.5%;
  bottom: 15%;
  animation: float .75s infinite alternate;
}

@media screen and (max-width: 768px) {
  h1#title {
    font-size: 4rem;
  }

  .arrow {
    display: none;
  }

  .dots {
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    --transform-rotate: 90deg;
  }

  #intro-section > div.transparent-card.over-left {
    left: -25px;
    top: 20px;
    box-shadow: 3px 2px 21px 14px rgba(0,0,0,.41);
    height: 60dvh;
    width: 80%;
  }
}

/* Contact */

#contact {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

#contact > form {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  row-gap: 0.5rem;
}

input,textarea {
  border: none;
  border-bottom: solid black 2pt;
  font-family: "Lato";
}

input, input:required, textarea:required {
  border-bottom: solid black 2pt;
}

input:invalid,textarea:invalid {
  color: rgb(220 38 38);
  border-bottom: solid rgb(220 38 38) 2pt;
}

input:valid,textarea:valid {
  border-bottom: solid rgb(22 163 74) 2pt;
}

#contact > form > input::-moz-placeholder, textarea::-moz-placeholder {
  color: black;
}

#contact > form > input::placeholder,textarea::placeholder {
  color: black;
}

#contact > form > input {
  resize: none;
  flex-grow: 1;
}

#contact > form > textarea {
  resize: none;
  flex: 1 100%;
}

ul#portfolio-list__grid {
  list-style: none;
  width: 75.67%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: 2.5rem;
}

.element-card {
  flex: 1;
  border: solid black 4pt;
  display: flex;
  flex-direction: column;
  height: 60dvh;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  background-color: #fff;
  max-width: 286px;
}

.element-card__over-card {
  position: absolute;
  background-color: transparent;
  box-shadow: 8px 2px 21px 3px rgba(0,0,0,.41);
  width: 105%;
  height: 108%;
  z-index: -3;
  left: 10px;
  bottom: -4%;
  border-radius: 25px;
}

.element-card > a > img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.element-card__image {
  background-color: #fff;
  border-radius: 18px 18px 0 0;
  height: 45%;
}

.element-card > div.element-card__details {
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 0.25rem;
}

.element-card > div.element-card__details > h3{
  margin-left: 0;
}

li.element-card > div > h3 {
  text-transform: uppercase;
}

li.element-card > div > h3, p {
  margin: 0.5rem;
}

li.experience {
  font-weight: 700;
  list-style-type: disc;
}

li.experience::marker {
  color: var(--primary-blue);
  font-size: 1.5rem;
}

.element-card__details__link {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #0525a2, #0525a2 50%, #000 0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.element-card__details__link:hover {
  background-position: 0 100%;
}

@media screen and (max-width: 1024px) {
  ul#portfolio-list__grid {
    flex-flow: row wrap;
    justify-content: space-around;
    width: 60%;
  }

  .element-card {
    flex: 0 40%;
  }
}

@media screen and (max-width: 768px) {
  ul#portfolio-list__grid {
    width: 60%;
  }

  .element-card {
    flex: 100%;
  }
}

.experience > a.company {
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

#etsy {
  background: var(--etsy-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

#yeeko {
  background: var(--yeeko-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

#aiwifi {
  background: var(--aiwifi-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

#akubica {
  background: var(--a3-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

#kinedu {
  background: var(--kinedu-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

#ipp {
  background: var(--ipp-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

#ipp:hover,
#kinedu:hover,
#aiwifi:hover,
#akubica:hover,
#yeeko:hover,
#etsy:hover {
  background-position: 0 100%;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/* ! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.card {
  width: 91.666667%;
}

@media (min-width: 768px) {
  .card {
    width: 66.666667%;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 80%;
  }
}

.card {
  position: relative;
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  border-width: 8px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
  border-radius: 40px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}

.intro-card {
  width: 91.666667%;
}

@media (min-width: 768px) {
  .intro-card {
    width: 66.666667%;
  }
}

@media (min-width: 1024px) {
  .intro-card {
    width: 80%;
  }
}

.intro-card {
  position: relative;
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  border-width: 8px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
  border-radius: 40px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .intro-card {
    margin-left: auto;
    margin-right: auto;
  }
}

.intro-card {
  align-content: center;
  height: 60lvh;
  height: 60vh;
}

.intro-card > div {
  display: flex;
  flex-direction: column;
}

#intro-section > .intro-card > div {
  margin: auto;
}

@media (min-width: 340px) {
  @media not all and (min-width: 640px) {
    .intro-card {
      top: -1.25rem;
      left: -1.25rem;
    }
  }
}

@media (min-width: 768px) {
  .intro-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    margin-bottom: 0px;
  }
}

@media (min-width: 1536px) {
  .intro-card {
    width: 60%;
  }
}

#intro-overlay-card {
  position: absolute;
  width: 100%;
  background-color: transparent;
}

@media (min-width: 768px) {
  #intro-overlay-card {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  #intro-overlay-card {
    width: 66.666667%;
  }
}

#intro-overlay-card {
  z-index: 10;
  box-shadow: 3px 2px 21px 14px rgba(0,0,0,.41);
}

@media (min-width: 340px) {
  #intro-overlay-card {
    left: -1.5rem;
    height: 60lvh;
    height: 60vh;
  }

  @media not all and (min-width: 768px) {
    #intro-overlay-card {
      top: 0.5rem;
    }
  }
}

@media (min-width: 768px) {
  #intro-overlay-card {
    right: -1.5rem;
    height: 100%;
    width: 100%;
    top: 3.75%;
    left: 2%;
  }
}

#intro-overlay-card {
  border-radius: 40px;
}

.relative {
  position: relative;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-16 {
  margin-top: 4rem;
}

.h-auto {
  height: auto;
}

.grow {
  flex-grow: 1;
}

.flex-row {
  flex-direction: row;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.box-shadow-left {
  box-shadow: 3px 2px 21px 14px rgba(0,0,0,.41);
}

.box-shadow-right {
  box-shadow: 14px 2px 21px 3px rgba(0,0,0,.41);
}

.h-60lvh {
  height: 60lvh;
  height: 60vh;
}

.card-wrapper {
  margin: auto;
  width: 83.333333%;
}

.half-section {
  flex: 1 1 0%;
}

.skills {
  display: flex;
  flex-direction: row;
}

.skill {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.skill > img {
  margin-left: auto;
  margin-right: auto;
  height: 2rem;
  width: 2rem;
}

#about-mobile {
  margin-bottom: 3rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

@media (min-width: 768px) {
  #about-mobile {
    display: none;
  }
}

#about-mobile > #about-right, #about-left {
  min-height: 50lvh;
}

.right-corner {
  width: 91.666667%;
}

@media (min-width: 768px) {
  .right-corner {
    width: 66.666667%;
  }
}

@media (min-width: 1024px) {
  .right-corner {
    width: 80%;
  }
}

.right-corner {
  position: relative;
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  border-width: 8px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
  border-radius: 40px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .right-corner {
    margin-left: auto;
    margin-right: auto;
  }
}

.right-corner {
  right: -3rem;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 3rem;
}

.right-corner > div {
  display: flex;
  flex-direction: column;
}

#intro-section > .right-corner > div {
  margin: auto;
}

.inner-text {
  z-index: 10;
}

.left-corner {
  width: 91.666667%;
}

@media (min-width: 768px) {
  .left-corner {
    width: 66.666667%;
  }
}

@media (min-width: 1024px) {
  .left-corner {
    width: 80%;
  }
}

.left-corner {
  position: relative;
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  border-width: 8px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
  border-radius: 40px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .left-corner {
    margin-left: auto;
    margin-right: auto;
  }
}

.left-corner {
  top: -1.25rem;
  left: -1.25rem;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 2rem;
}

.left-corner > div {
  display: flex;
  flex-direction: column;
}

#intro-section > .left-corner > div {
  margin: auto;
}

.shadow-right {
  position: absolute;
  z-index: 0;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  background-color: #fff;
  height: 95%;
  border-radius: 40px;
  bottom: 0.5rem;
  right: -0.75rem;
}

.shadow-left {
  position: absolute;
  z-index: 0;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  background-color: #fff;
  height: 95%;
  border-radius: 40px;
  bottom: 0.5rem;
  left: -0.75rem;
}

.half-section {
  padding: 2rem;
}

#about-overlay-card {
  position: absolute;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  box-shadow: 14px 2px 21px 3px rgba(0,0,0,.41);
  background-color: #fff;
}

@media (min-width: 340px) {
  @media not all and (min-width: 640px) {
    #about-overlay-card {
      display: none;
    }
  }
}

#about-overlay-card {
  right: 11%;
  top: 4%;
  border-radius: 40px;
}

#large-card {
  background-color: transparent;
}

#definition {
  z-index: 30;
  color: var(--primary-blue);
  font-weight: bolder;
  position: relative;
}

@media (min-width: 340px) {
  .xs\:bottom-right {
    top: 50px;
    right: -9px;
  }

  .xs\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  @media not all and (min-width: 768px) {
    .xs\:max-md\:hidden {
      display: none;
    }
  }

  @media not all and (min-width: 640px) {
    .xs\:max-sm\:hidden {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .md\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
}