:root {
  --primary-blue: #0525a2;
}
body {
  @apply w-full;
  font-family: 'Lato', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.section {
  @apply min-h-screen flex mx-auto w-full;
  scroll-behavior: smooth;
}

h1, h4, button, a.btn {
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  @apply text-6xl;
}

.footer {
  scroll-behavior: smooth;
  @apply border-t-4 h-12 flex w-4/5 mx-auto border-black justify-between py-4 mb-4;
}

.network-icons-list {
  @apply flex justify-center;
  .network-icon {
    @apply mx-4;
    img {
      @apply w-6;
    }
  }
}

@media screen and (max-width: 679px) {
  .footer {
    @apply flex-col text-left;
    width: 90%;
    .network-icons-list {
      @apply justify-start -ml-4 my-4 pb-2;
    }
  }
  .network-icons-list {
    @apply w-4/5 flex justify-start text-left;
    .network-icon {
      @apply mx-2;
    }
    .network-icon:first-child {
      @apply ml-0;
    }
  }
}

@screen xs {
  h1 {
    @apply text-5xl;
  }
}

.column {
  @apply flex-col w-full mx-auto;
}


.centered-block {
  @apply flex justify-center text-center mx-auto;
}

.section-details {
  @extend .section; 
  @extend .column;
  @extend .centered-block;
  @apply w-full pt-4 relative;
}

.glow {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #0525a2, #0525a2 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
  &:hover {
    background-position: 0 100%;
  }
}

.btn {
  @apply uppercase bg-black text-white px-2 font-light text-2xl ease-in-out duration-500 border border-white;
}

.btn-secondary {
  background-color: var(--primary-blue);
}

.btn-disabled {
  @apply bg-gray-600 cursor-not-allowed border-gray-600;
}

.primary-color {
  color: var(--primary-blue);
}

.btn:not(.btn-disabled):not(.btn-secondary):hover {
  @apply bg-white text-black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid black 1px;
}

.element-card {
  @apply relative w-full flex flex-col bg-white;
  height: 60vh;
  border: solid black 4pt;
  border-radius: 20px;
  z-index: 0;

  .element-card__over-card {
    @apply absolute bg-transparent;
    -webkit-box-shadow: 8px 2px 21px 3px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 8px 2px 21px 3px rgba(0, 0, 0, 0.41);
    box-shadow: 8px 2px 21px 3px rgba(0, 0, 0, 0.41);
    width: 105%;
    height: 108%;
    z-index: -3;
    left: 10px;
    bottom: -4%;
    border-radius: 25px;
  }
}

.element-card__image {
  max-height: 45%;
  height: 45%;
  .image {
    @apply object-contain bg-white;
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.element-card__info {
  height: 55% !important;
  @apply pt-2;
  @apply flex flex-col px-1;
}
h2.element-card__project__name {
  @apply font-thin text-2xl uppercase text-left pl-2 pt-2;
  height: 35%;
}
p.element-card__project__description {
  @apply text-base text-justify px-2;
}

hr.element-card__divider {
  width: 40%;
  @apply border-black ml-2 px-2;
  border-top-color: black !important;
}
@screen md {
  .element-card {
    height: 55vh;
  }
}
@screen sm {
  .element-card {
    height: 60vh;
  }
}
@screen xs {
  .element-card {
    height: 60vh;
  }
}