// @import url(https://fonts.googleapis.com/css?family=Questrial);
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
  --primary-blue: #0525a2;
}
body {
  @apply w-full;
  font-family: 'Lato', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.section {
  @apply min-h-screen flex mx-auto w-full;
  scroll-behavior: smooth;
}

h1, h4, button, a.btn {
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  @apply text-6xl;
}

.footer {
  scroll-behavior: smooth;
  @apply border-t-4 h-12 flex w-4/5 mx-auto border-black justify-between py-4 mb-4;
}

.network-icons-list {
  @apply flex justify-center;
  .network-icon {
    @apply mx-4;
    img {
      @apply w-6;
    }
  }
}

@media screen and (max-width: 679px) {
  .footer {
    @apply flex-col text-left;
    width: 90%;
    .network-icons-list {
      @apply justify-start -ml-4 my-4 pb-2;
    }
  }
  .network-icons-list {
    @apply w-4/5 flex justify-start text-left;
    .network-icon {
      @apply mx-2;
    }
    .network-icon:first-child {
      @apply ml-0;
    }
  }
}

@screen xs {
  h1 {
    @apply text-5xl;
  }
}

.column {
  @apply flex-col w-full mx-auto;
}


.centered-block {
  @apply flex justify-center text-center mx-auto;
}

.section-details {
  @extend .section; 
  @extend .column;
  @extend .centered-block;
  @apply w-full pt-4 relative;
}

.glow {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #0525a2, #0525a2 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
  &:hover {
    background-position: 0 100%;
  }
}

.btn {
  @apply uppercase bg-black text-white px-2 font-light text-2xl;
}

.btn-secondary {
  background-color: var(--primary-blue);
}

.btn-disabled {
  @apply bg-gray-600 cursor-not-allowed;
}

.primary-color {
  color: var(--primary-blue);
}